@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark{
    background-color: #050505 ;
    color: #fff;
}

.bg-light{
    background-color: #fff;
    color: #2D2D2D;
}

@layer utilities {
    .custom-box-shadow{
        box-shadow: 0px 5px 30px 0px #A445ED;
    }
}